---
title: Jak U School
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %}
<div class="rounded mb-5 hero">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6">
      <h1 class="font-weight-bold mb-4 serif-font">Jak U School</h1>
      <p class="lead mb-4">Creemos en el poder transformador de la educación y en el potencial ilimitado que reside en
        cada individuo. Nuestra misión es sencilla pero profunda: empoderarte para liberar tu máximo potencial y
        emprender un viaje de aprendizaje continuo y crecimiento personal</p>
    </div>
    <div class="col-md-6 text-right pl-0 pl-lg-4">
      <img class="intro" height="500" src="{{site.baseurl}}/assets/images/blogs/student_sitting_in_front_of_a_desk_on_the_desk.svg">
    </div>
  </div>
</div>
{% endif %}

<!-- Featured
================================================== -->
<section class="row">
  {% for post in site.posts %}
  {% if post.featured == true %}
  <div class="col-md-4 mb-5">
    {% include postbox.html %}
  </div>
  {% endif %}
  {% endfor %}
  </div>
</section>

<!-- Posts List with Sidebar (except featured)
================================================== -->
<section class="row">
  <div class="col-sm-8">
    <div class="row">
      {% for post in paginator.posts %}
      {% unless post.featured == true %}
      <div class="col-md-6 mb-5">
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
        {% include pagination.html %}
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    {% include sidebar.html %}
  </div>
</section>