<!-- Go to your Mailchimp account/Lists/Sign Up Forms/Embedded forms and replace the code below with your own  -->

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_shell">
	<link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		#mc_embed_signup {
			background: #fff;
			false;
			clear: left;
		}

		/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
		 We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
	</style>
	<div id="mc_embed_signup">
		<form
			action="https://jakuschool.us21.list-manage.com/subscribe/post?u=be2ac92ea9f328b19b090aaf7&amp;id=5215f7ae17&amp;f_id=00d3e4e6f0"
			method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
			target="_self" novalidate="">
			<div id="mc_embed_signup_scroll">

				<h2>¡Regístrate ahora para recibir mi boletín semanal donde comparto mis ideas! Mantente actualizado y
					aprovecha al máximo tu aprendizaje en Jak U!</h2>


				<div class="mc-field-group">
					<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
						placeholder="Correo Electronico">
				</div>

				<div id="mce-responses" class="clear foot">
					<div class="response" id="mce-error-response" style="display: none;"></div>
					<div class="response" id="mce-success-response" style="display: none;"></div>
				</div>
				<div aria-hidden="true" style="position: absolute; left: -5000px;">
					/* real people should not fill this in and expect good things - do not remove this or risk form bot
					signups */
					<input type="text" name="b_be2ac92ea9f328b19b090aaf7_5215f7ae17" tabindex="-1" value="">
				</div>
				<div class="optionalParent">
					<div class="clear foot">
						<input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"
							value="Subscribe">
						<!-- Add the below if you wish to receive referrals for Mailchimp-->
						<!-- <p style="margin: 0px auto;"><a href="http://eepurl.com/iCOQQU"
								title="Mailchimp - email marketing made easy and fun"><span
									style="display: inline-block; background-color: transparent; border-radius: 4px;"><img
										class="refferal_badge"
										src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
										alt="Intuit Mailchimp"
										style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
						</p>> -->
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<!--End mc_embed_signup-->

<form id="subscribe-form" method="POST">
	<input type="text" name="name" id="name" placeholder="Enter your name" required>
	<input type="email" name="email" id="email" placeholder="Enter your email" required>
	<button type="submit">Subscribe</button>
  </form>
  
  <script>
	document.getElementById('subscribe-form').addEventListener('submit', function(event) {
	  event.preventDefault();
	  const name = document.getElementById('name').value;
	  const email = document.getElementById('email').value;
	  fetch('https://script.google.com/macros/s/AKfycbxxnVuXlEhsURrL4GwpFEAoPWMIIEbi9WU5EDr7eUqiWXhrFfKigqg6Bet-B6z3Km9I0Q/exec', {
		method: 'POST',
		body: JSON.stringify({ name: name, email: email }),
		headers: {
		  'Content-Type': 'application/json'
		}
	  }).then(response => {
		if (response.ok) {
		  alert('Thank you for subscribing!');
		} else {
		  alert('There was an issue with your subscription. Please try again.');
		}
	  });
	});
  </script>
  
  