/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

body {}

#logo {
    width: 50%;
}

.navbar-brand {
    margin-right: 0;
}

.article-post {
text-align: justify;
}