/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

body {}

#logo {
    width: 50%;
}

.navbar-brand {
    margin-right: 0;
}

#mc_embed_signup .foot {
    grid-template-columns: 4fr !important;
    width: 100% !important;
}


/* JAK U English Medals*/

.medals {
    width: auto;
    text-align: center;
    font-size: 2em;
}

.medals a {
    text-decoration: none !important;
    box-shadow: none !important;
}

.medals:link {
    text-decoration: none !important;
    box-shadow: none !important;
}

.medals:visited {
    text-decoration: none !important;
    box-shadow: none !important;
}

.medals:hover {
    text-decoration: none !important;
    box-shadow: none !important;
}

.medals:active {
    text-decoration: none !important;
    box-shadow: none !important;
}

.medal {
    display: inline-block;
    padding: 10px 0;
    border: 1px solid black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 3px;
}

.medal:hover {
    border: 2px solid gray;
    color: gray;
    font-weight: 600;
  }


.medal span {
    display: block;
}

/* Manual del Conductor */
.feedback {
    margin-top: 10px;
    font-weight: bold;
}

button {
    padding: 6px 20px;
    background-color: #3d61fd !important;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}


.test-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5vw; /* Adjust the width as needed */
}