/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

body {}

#logo {
    width: 50%;
}

.navbar-brand {
    margin-right: 0;
}

#mc_embed_signup .foot {
    grid-template-columns: 4fr !important;
    width: 100% !important;
}